:root {
    --background-color: #181617;
    --primary: #9fa498;
    --secondary: #131112;
    --accent: #71797f;
    --text: #e7e4e6;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
}

body {
    background-color: var(--background-color);
}

html {
    scroll-snap-type: y mandatory;
}

main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

main section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

a {
    text-decoration: none;
    margin: 1rem 0;
}

.preview-container {
    border: solid 1px var(--accent);
    position: relative;
    transition: all 0.2s ease-in-out;
}

.preview-container:hover {
    cursor: pointer;
    transform: scale(1.5);
    z-index: 1;
}

.preview-container:hover .buttons-container {
    display: block;
}

.img-container {
    width: 400px;
    max-height: auto;
    position: relative;
}

.img-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.modal:hover {
    opacity: 0;
}

.buttons-container {
    display: none;
}
