:root {
    --light-red: hsla(0, 100%, 67%, 0.05);
    --light-red-n: hsl(0, 100%, 67%);
    --orangey-yellow: hsla(39, 100%, 56%, 0.05);
    --orangey-yellow-n: hsl(39, 100%, 56%);
    --green-teal: hsla(166, 100%, 37%, 0.05);
    --green-teal-n: hsl(166, 100%, 37%);
    --cobalt-blue: hsla(234, 85%, 45%, 0.05);
    --cobalt-blue-n: hsl(234, 85%, 45%);

    --background-light-slate-blue: hsla(252, 100%, 67%, 1);
    --background-light-royal-blue-bottom: hsla(241, 82%, 55%, 1);
    --background-light-royal-blue-top: hsla(251, 100%, 63%, 1);

    --circle-violet-blue: hsla(256, 72%, 46%, 1);
    --circle-persian-blue: hsla(246, 86%, 57%, 0.5);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsla(224, 30%, 27%, 0.7);
    --dark-gray-blue-n: hsl(224, 30%, 27%);

    --body-font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: var(--body-font-size);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topside-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    background: linear-gradient(
        var(--background-light-royal-blue-top),
        var(--background-light-royal-blue-bottom)
    );
    border-radius: 0px 0px 30px 30px;
    color: var(--light-lavender);
    font-weight: 500;
    font-size: var(--body-font-size);
}

.topside-wrapper p {
    text-align: center;
}

.score-container {
    background: linear-gradient(
        var(--circle-violet-blue),
        var(--circle-persian-blue)
    );
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-container p {
    width: inherit;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0 3rem 2rem 3rem;
}

h1 {
    color: var(--light-lavender);
    font-size: var(--body-font-size);
    padding-top: 1rem;
}

h2 {
    color: var(--white);
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    color: var(--white);
    font-size: 25px;
    font-weight: 700;
}

p {
    font-size: 0.9rem;
}

.summary-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem 2rem 1rem 2rem;
    color: var(--dark-gray-blue-n);
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.reaction {
    background-color: var(--light-red);
}

.light-red {
    color: var(--light-red-n);
}

.memory {
    background-color: var(--orangey-yellow);
}

.orange-yellow {
    color: var(--orangey-yellow-n);
}

.verbal {
    background-color: var(--green-teal);
}

.green {
    color: var(--green-teal-n);
}

.visual {
    background-color: var(--cobalt-blue);
}

.blue {
    color: var(--cobalt-blue-n);
}

.image-text-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.6rem;
}

.category-container p {
    padding: 0.6rem;
}

.values-container {
    display: flex;
}

.values-container p {
    padding-left: 0;
    font-weight: 700;
}

.gray {
    color: var(--dark-gray-blue);
}

.continue {
    background-color: var(--dark-gray-blue-n);
    color: var(--white);
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-weight: 800;
}

.continue:hover {
    background: linear-gradient(
        var(--background-light-royal-blue-top),
        var(--background-light-royal-blue-bottom)
    );
    cursor: pointer;
}

@media screen and (min-width: 720px) {
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content-wrapper {
        flex-direction: row;
        min-height: 50vh;
        max-width: 650px;
        border-radius: 2rem;
        box-shadow: 10px 5px 40px #e8eefc;
    }
    .category-container {
        padding: 0.2rem;
    }
    .topside-wrapper {
        border-radius: 30px 30px 30px 30px;
    }
    .button-container {
        margin: 1rem 0;
    }
    .continue {
        padding: 0.7rem;
    }
    footer {
        position: absolute;
        bottom: 0;
        left: 0%;
    }
    .topside-wrapper {
        width: 50%;
    }
}
