* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    padding: 1rem;
    overflow: hidden scroll;
    font-size: 15px;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.buttons-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -10%;
    top: -16px;
    z-index: 1;
    padding-top: 8rem;
    gap: 1.5rem;
    height: 100vh;
    width: 270px;
    background-color: var(--off-white);
    padding-left: 1rem;
}

.buttons-container a {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 400;
    width: 100px;
    font-size: 18px;
}

.buttons-container.closed {
    display: none;
}

.close-button-container {
    display: block;
    z-index: 1;
}

.close-button-container.closed {
    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    top: 0;
    left: -16px;
}

.overlay.active {
    display: block;
}

.head-image-container img {
    width: 100%;
}

.head-image-container {
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 1rem;
    color: var(--very-dark-blue);
    font-size: 2.6rem;
}

.head-article-container p {
    color: var(--dark-grayish-blue);
    margin-bottom: 1rem;
}

.head-article-container button {
    padding: 0.8rem;
    width: 200px;
    border-style: none;
    color: var(--off-white);
    font-size: 15px;
    font-weight: 700;
    background-color: var(--soft-red);
}

.head-article-container {
    margin-bottom: 3rem;
}

.new-articles-container {
    background-color: var(--very-dark-blue);
    color: var(--dark-grayish-blue);
    padding: 1rem;
    margin-bottom: 3rem;
}

h2 {
    color: var(--soft-orange);
    margin-bottom: 1.5rem;
}

.new-article-summary-container h3 {
    color: var(--off-white);
    margin-bottom: 0.7rem;
}

.line {
    margin: 1.5rem 0;
    border: solid 1px var(--dark-grayish-blue);
}

.article-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    margin-bottom: 1rem;
    gap: 1rem;
}

.top-article-image-container {
    grid-column: 1;
}

.top-article-image-container img {
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-container h3 {
    font-size: 2rem;
    color: var(--grayish-blue);
}

.text-container h4 {
    font-size: 1rem;
}

.text-container h5 {
    color: var(--grayish-blue);
    font-size: 15px;
}

footer {
    font-size: 11px;
    text-align: center;
    position: absolute;
}
footer a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1280px) {
    body {
        padding: 2rem 10rem;
        background: var(--off-white);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav {
        width: 100%;
        max-width: 1110px;
    }
    .mobile-menu-button-container {
        display: none;
    }
    .buttons-container.closed {
        display: flex;
        position: unset;
        z-index: 1;
        gap: 1.5rem;
        height: auto;
        width: auto;
        background-color: unset;
        flex-direction: row;
    }
    .buttons-container a {
        width: unset;
        color: var(--dark-grayish-blue);
    }
    a:hover {
        color: var(--soft-red);
        cursor: pointer;
    }
    .buttons-container {
        padding: 0;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80% 1fr;
        gap: 1rem;
        max-width: 1110px;
    }
    .head-image-container {
        margin: 0;
    }
    .head-image-container img {
        height: 100%;
    }
    .head-article-container {
        display: grid;
        grid-template-rows: 65% 35%;
        grid-template-columns: 1fr 1fr;
        grid-column: 2 span;
        gap: 1rem;
    }
    .head-article-container p {
        margin: 0;
        font-size: 16px;
    }
    .head-image-container {
        grid-column: 2 span;
    }
    h1 {
        grid-row: 2;
        margin: 0;
        height: 100%;
        font-size: 3.2rem;
        margin-right: 1rem;
    }
    .new-article-summary-container h3:hover {
        cursor: pointer;
        color: var(--soft-orange);
    }
    .text-container h4:hover {
        color: var(--soft-red);
        cursor: pointer;
    }
    .text-button-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    button:hover {
        background: var(--very-dark-blue);
        cursor: pointer;
    }
    .new-articles-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .top-three-articles-container {
        grid-column: 3 span;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    footer {
        bottom: -30px;
    }
}
