:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

html {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
main {
    padding: 0.5rem;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-grayish-blue);
}

.notifications-numbers-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.unseen-wrapper {
    color: var(--white);
    background-color: var(--blue);
    width: 2rem;
    height: 1.5rem;
    align-items: center;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    font-weight: 800;
}

h1 {
    color: var(--very-dark-blue);
    font-size: 20px;
}

.notification-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
}

.notseen {
    background-color: var(--very-light-grayish-blue);
}

.image-wrapper img {
    width: 40px;
    height: 40px;
}

.picture-wrapper img {
    width: 40px;
    height: 40px;
}

.picture-wrapper {
    grid-column: 2;
    grid-row: 1/3;
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
}

.prvMsg {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px 1fr;
}

.private-message {
    grid-column: 2/3;
    border: 1px solid var(--light-grayish-blue-1);
    padding: 1rem;
}

p {
    margin: 0;
}

.action-wrapper {
    margin-left: 5px;
    color: var(--dark-grayish-blue);
}

.post-wrapper {
    margin-left: 5px;
    color: var(--dark-grayish-blue);
    font-weight: bold;
}

.friend-wrapper {
    font-weight: bold;
}

.time-wrapper {
    color: var(--grayish-blue);
    margin-top: 2px;
}

.group {
    color: var(--blue);
}

.private-message {
    color: var(--dark-grayish-blue);
}

.unseen-notification {
    background-color: var(--red);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

footer {
    margin-top: 50px;
}

@media screen and (min-width: 720px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--very-light-grayish-blue);
    }
    main {
        width: 650px;
        background-color: var(--white);
        padding: 1rem 2rem 0 2rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 2rem;
    }
    .information-container {
        flex-grow: 1;
    }
    .notification-container {
        margin: unset;
    }
    .prvMsg {
        grid-template-rows: 40px 1fr;
    }
    main div:nth-child(6) .time-wrapper {
        margin-top: -1.2rem;
    }
    .friend-wrapper:hover {
        cursor: pointer;
        color: var(--blue);
    }
    .post-wrapper:hover {
        cursor: pointer;
        color: var(--blue);
    }
    .picture-wrapper img:hover {
        cursor: pointer;
        border: 2px solid var(--light-grayish-blue-1);
        border-radius: 8px;
    }
    #readAll:hover {
        cursor: pointer;
        color: var(--blue);
    }
    .private-message {
        border-radius: 5px;
    }
    .private-message:hover {
        cursor: pointer;
        background-color: var(--light-grayish-blue-1);
    }
}
