* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    --blue: hsl(248, 32%, 49%);

    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}

body {
    height: 100vh;
    background: url("./images/bg-intro-mobile.png");
    background-size: cover;
    background-color: var(--red);
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    text-align: center;
    font-size: 16px;
    padding: 2rem;
    margin-top: 3rem;
}

h1 {
    margin: 2rem 0;
}

.button-container {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 311px;
}

.signup {
    padding: 1rem;
    width: 100%;
    border-style: none;
    background-color: var(--blue);
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 0.5rem;
}

.signup div {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.bold {
    font-weight: 700;
}

form {
    width: 311px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    height: 360px;
    justify-content: space-around;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

form p {
    text-align: center;
    font-size: 11px;
    color: var(--grayishBlue);
    padding: 0 2rem;
}

form a {
    text-decoration: none;
    font-weight: 600;
    color: var(--red);
}
.input {
    display: block;
}
.input span {
    position: absolute;
    z-index: 1;
    cursor: text;
    pointer-events: none;
    color: #5e5d62;
    font-size: 14px;
    font-weight: 600;
    /* Input padding + input border */
    padding: 13px;
    /* Firefox does not respond well to different line heights. Use padding instead. */
    line-height: 17px;
    /* This gives a little gap between the cursor and the label */
    margin-left: 2px;
}
.input img {
    position: absolute;
    z-index: 1;
    margin-left: -35px;
    margin-top: 9px;
    pointer-events: none;
}

.input input {
    z-index: 0;
    padding: 0.5rem;
    font: inherit;
    line-height: 17px;
    width: 250px;
    border-radius: 0.5rem;
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.2);
}

#submit {
    padding: 1rem;
    width: 268px;
    background-color: var(--green);
    border-style: none;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: 600;
    box-shadow: inset -1px -3px 2px rgba(0, 0, 0, 0.2);
}

.error {
    display: none;
    color: var(--red);
    font-size: 12px;
    text-align: right;
    padding-right: 16px;
    font-style: italic;
    margin-top: -10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1080px) {
    body {
        background: url("./images/bg-intro-desktop.png");
        background-color: var(--red);
    }
    main {
        flex-direction: row;
        margin-top: 0;
    }
    .text-wrapper {
        width: 30%;
        text-align: left;
        padding-left: 5rem;
    }
    .button-form-wrapper {
        min-width: 50%;
    }
    form {
        width: 540px;
        height: 565px;
        margin-top: 1.5rem;
    }
    .button-container {
        width: 540px;
    }
    .input input {
        width: 460px;
        padding: 1rem;
    }
    .input img {
        margin-top: 18px;
    }
    .error {
        padding-right: 28px;
        margin-top: -40px;
    }
    .input span {
        padding: 21px;
    }
    h1 {
        font-size: 3rem;
    }
    #submit {
        width: 494px;
    }
    #submit:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    form p {
        margin-top: -2rem;
        margin-bottom: 1rem;
    }
    .signup {
        display: flex;
        justify-content: center;
    }
    .signup div {
        margin-right: 3px;
    }
    .signup:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}
