:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}
* {
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 530px;
    border-radius: 1.5rem;
    position: relative;
    box-shadow: 0px 20px 50px 0px #00000070;
    background: #fff;
    margin-top: 65px;
    padding-top: 120px;
    box-sizing: border-box;
}

.content-container {
    padding: 1.2rem;
    overflow: scroll;
}

.image-container {
    position: absolute;
    width: 240px;
    top: -110px;
    left: 45px;
    height: 180px;
}

.online {
    position: relative;
    background-image: url("./images/illustration-woman-online-mobile.svg");
    background-size: contain;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.shadow {
    position: absolute;
    background-image: url("./images/bg-pattern-mobile.svg");
    background-size: contain;
    bottom: -110px;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.question-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.line {
    background: var(--light-grayish-blue);
    height: 1px;
}

.answer {
    display: none;
    color: var(--Dark-grayish-blue);
}

.question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: var(--Very-dark-grayish-blue);
}

.question.active {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
}

.question.active img {
    transform: scaleY(-1);
}

footer {
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 720px) {
    main {
        width: 920px;
        flex-direction: row;
        padding-top: 0;
    }
    .images-wrapper {
        width: 50%;
        height: 100%;
        position: relative;
    }
    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        top: unset;
        left: unset;
        overflow: hidden;
    }
    .content-container {
        flex: 1;
        margin: 3rem 0;
        margin-right: 4rem;
    }
    .arrow {
        margin-right: 1rem;
    }
    h1 {
        text-align: left;
    }
    .question:hover {
        color: var(--soft-red);
    }
    .online {
        position: absolute;
        left: -80px;
        top: 80px;
        background-image: url("./images/illustration-woman-online-desktop.svg");
        width: 500px;
        height: 360px;
        z-index: 1;
    }
    .shadow {
        left: -305px;
        bottom: -20px;
        transform: scale(2);
        background-image: url("./images/bg-pattern-desktop.svg");
    }
    .box {
        position: absolute;
        width: 180px;
        height: 210px;
        background-image: url("./images/illustration-box-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        left: -140px;
        top: 210px;
    }
}
