:root {
    --orange: hsl(25, 97%, 53%);

    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --darkBlueA: hsla(213, 33.3%, 40.6%, 0.11);
    --backgroundUp: hsla(220, 21%, 17%, 1);
    --backgroundDown: hsla(215.294, 27%, 12%, 1);
    --veryDarkBlue: hsl(216, 12%, 8%);

    --lightWeight: 400;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
}

body {
    min-height: 100vh;
    background: var(--veryDarkBlue);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--lightWeight);
    color: var(--white);
}

footer {
    position: absolute;
    bottom: 0;
}

main {
    background: radial-gradient(
        ellipse at top,
        var(--backgroundUp),
        var(--backgroundDown)
    );
    padding: 1.5rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
    color: var(--lightGrey);
}

main p {
    font-size: 15px;
}

h1 {
    color: var(--white);
    font-size: 1.5rem;
}

.rating-star {
    background: var(--darkBlueA);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageStar {
    width: 50%;
    height: 50%;
}

.feedback-container {
    display: flex;
    justify-content: space-between;
}

.feedback-score {
    background: var(--darkBlueA);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

.feedback-score:hover {
    background: var(--orange);
    color: var(--white);
}

.active {
    background: var(--mediumGrey);
    color: var(--white);
}

.active:hover {
    background: var(--mediumGrey);
    color: var(--white);
}

.button-container {
    display: flex;
    flex-direction: column;
}

.submit {
    padding: 0.8rem;
    background: var(--orange);
    border: none;
    border-radius: 2rem;
    color: var(--white);
    font-weight: var(--bold);
    font-size: 0.9rem;
    cursor: pointer;
}

.submit:hover {
    background: var(--white);
    color: var(--orange);
}

.container-submited {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.customer-rating {
    color: var(--orange);
    background-color: var(--darkBlueA);
    padding: 0.5rem;
    border-radius: 1.5rem;
    font-size: 14px;
}

h2 {
    color: var(--white);
}

.call-to-action {
    text-align: center;
}
