:root {
    --Soft-Cyan: hsl(174, 77%, 80%);
    --Strong-Cyan: hsl(174, 86%, 45%);
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    --Light-Red: hsl(15, 100%, 70%);
    --Pale-Blue: hsl(226, 100%, 87%);
    --White: hsl(0, 0%, 100%);
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    --Light-Grayish-Blue-slider: hsl(224, 65%, 95%);
    --Light-Grayish-Blue-toggle: hsl(223, 50%, 87%);
    --Grayish-Blue: hsl(225, 20%, 60%);
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-image: url("./images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: 1000px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

header {
    background-image: url("./images/pattern-circles.svg");
    background-repeat: no-repeat;
    height: 150px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 21px;
    margin: 0;
    color: var(--Dark-Desaturated-Blue);
    font-weight: 800;
}

h2 {
    font-size: 15px;
    margin: 0;
    max-width: 205px;
    color: var(--Grayish-Blue);
}

main p {
    margin: 0;
}

main {
    border: 1px solid var(--White);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    box-shadow: 0px 8px 5px 5px var(--Very-Pale-Blue);
}

.pageviews-container {
    display: flex;
    gap: 0.3rem;
    color: var(--Grayish-Blue);
    margin: 1.5rem 0;
}

.price-month {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.price {
    font-size: 28px;
    font-weight: 800;
    color: var(--Dark-Desaturated-Blue);
}

.month {
    color: var(--Grayish-Blue);
}

.monthly-yearly-container {
    display: flex;
    font-size: 12px;
    color: var(--Grayish-Blue);
    gap: 0.5rem;
    align-items: center;
    margin: 2rem 0 2rem 1rem;
}

.yearly-discount-container {
    display: flex;
    gap: 0.5rem;
}

.discount {
    width: 40px;
    height: 18px;
    border-radius: 1rem;
    background-color: var(--Light-Grayish-Red);
    color: var(--Light-Red);
    font-size: 10px;
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--Light-Grayish-Blue-slider);
}

.bonus-container {
    margin: 1rem 0;
}

.image-message {
    color: var(--Grayish-Blue);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.image-message img {
    height: 9px;
    width: 9px;
}

.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 45px;
}

.button button {
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 3rem;
    background-color: var(--Dark-Desaturated-Blue);
    color: var(--Pale-Blue);
    font-weight: 600;
    margin-bottom: 2rem;
}

.switch input {
    display: none;
}

.slider {
    background-color: var(--Light-Grayish-Blue-toggle);
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.4s;
    position: absolute;
}

.slider:before {
    background-color: #fff;
    bottom: 5px;
    content: "";
    height: 14px;
    left: 5px;
    position: absolute;
    transition: 0.4s;
    width: 14px;
}

.slider:hover {
    background-color: var(--Strong-Cyan);
}

#yearly:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.range-container {
    position: absolute;
    top: 37%;
}

.range {
    width: 270px;
}

.range::-moz-range-progress {
    height: 8px;
    border-radius: 8px;
    background-color: var(--Soft-Cyan);
}

.range::-moz-range-track {
    height: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--Light-Grayish-Blue-slider);
}

.range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--Strong-Cyan);
    background-image: url("./images/icon-slider.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    border: none;
    box-shadow: 0 15px 25px 2px var(--Soft-Cyan);
}

footer {
    position: absolute;
    bottom: -35px;
}

.pageviews-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
