:root {
    --Soft-Cyan: hsl(174, 77%, 80%);
    --Strong-Cyan: hsl(174, 86%, 45%);
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    --Light-Red: hsl(15, 100%, 70%);
    --Pale-Blue: hsl(226, 100%, 87%);
    --White: hsl(0, 0%, 100%);
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    --Light-Grayish-Blue-slider: hsl(224, 65%, 95%);
    --Light-Grayish-Blue-toggle: hsl(223, 50%, 87%);
    --Grayish-Blue: hsl(225, 20%, 60%);
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-image: url("./images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: 1000px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

header {
    background-image: url("./images/pattern-circles.svg");
    background-repeat: no-repeat;
    height: 150px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 21px;
    margin: 0;
    color: var(--Dark-Desaturated-Blue);
    font-weight: 800;
}

h2 {
    font-size: 15px;
    margin: 0;
    max-width: 205px;
    color: var(--Grayish-Blue);
}

main p {
    margin: 0;
}

main {
    position: relative;
    border: 1px solid var(--White);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    box-shadow: 0px 8px 5px 5px var(--Very-Pale-Blue);
}

.pageviews-container {
    display: flex;
    gap: 0.3rem;
    color: var(--Grayish-Blue);
    margin: 1.5rem 0;
}

.price-month {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.price {
    font-size: 28px;
    font-weight: 800;
    color: var(--Dark-Desaturated-Blue);
}

.month {
    color: var(--Grayish-Blue);
}

.monthly-yearly-container {
    display: flex;
    font-size: 12px;
    color: var(--Grayish-Blue);
    gap: 0.5rem;
    align-items: center;
    margin: 2rem 0 2rem 1rem;
}

.yearly-discount-container {
    display: flex;
    gap: 0.5rem;
}

.discount {
    width: 40px;
    height: 18px;
    border-radius: 1rem;
    background-color: var(--Light-Grayish-Red);
    color: var(--Light-Red);
    font-size: 10px;
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--Light-Grayish-Blue-slider);
}

.bonus-container {
    margin: 1rem 0;
}

.image-message {
    color: var(--Grayish-Blue);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.image-message img {
    height: 9px;
    width: 9px;
}

.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 45px;
}

.button button {
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 3rem;
    background-color: var(--Dark-Desaturated-Blue);
    color: var(--Pale-Blue);
    font-weight: 600;
    margin-bottom: 2rem;
}

.switch input {
    display: none;
}

.slider {
    background-color: var(--Light-Grayish-Blue-toggle);
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.4s;
    position: absolute;
}

.slider:before {
    background-color: #fff;
    bottom: 5px;
    content: "";
    height: 14px;
    left: 5px;
    position: absolute;
    transition: 0.4s;
    width: 14px;
}

.slider:hover {
    background-color: var(--Soft-Cyan);
}

#yearly:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.range-container {
    position: absolute;
    width: 270px;
    top: 80px;
}

.range-container label {
    position: absolute;
    width: 100%;
}

.range {
    width: 270px;
}

/* chrome slider */

input[type="range"] {
    font-size: 1.5rem;
    width: 100%;
}

input[type="range"] {
    --track-height: 8px;
    --track-color: var(--Light-Grayish-Blue-slider);
    --brightness-hover: 110%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}

input[type="range"].range {
    --thumb-height: 40px;
    --thumb-width: 40px;
}

input[type="range"].range {
    color: var(--Strong-Cyan);
}

/* === range commons === */
input[type="range"] {
    position: relative;
    background: rgba(245, 0, 0, 0);
    overflow: hidden;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
        100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: url("./images/icon-slider.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    box-shadow: 0 15px 25px 2px var(--Soft-Cyan);

    background-color: currentColor;
    background-color: var(--Strong-Cyan);
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(
        100% -1px,
        var(--clip-edges) -1px,
        0 var(--clip-top),
        -100vmax var(--clip-top),
        -100vmax var(--clip-bottom),
        0 var(--clip-bottom),
        var(--clip-edges) 100%,
        var(--clip-further) var(--clip-further)
    );
}

input[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
        100% calc(var(--track-height) + 1px);
}

/* chrome slider style ends here */

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.range::-moz-range-progress {
    height: 8px;
    border-radius: 8px;
    background-color: var(--Soft-Cyan);
}

.range::-moz-range-track {
    height: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--Light-Grayish-Blue-slider);
}

.range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--Strong-Cyan);
    background-image: url("./images/icon-slider.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    border: none;
    box-shadow: 0 15px 25px 2px var(--Soft-Cyan);
}

footer {
    position: absolute;
    bottom: -35px;
}

.pageviews-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.show-discount {
    display: none;
}

@media screen and (min-width: 1080px) {
    body {
        height: 100vh;
        background-size: contain;
        padding: 0;
        justify-content: unset;
        gap: 4rem;
        align-items: center;
    }
    header {
        margin-top: 3rem;
    }
    main {
        width: 600px;
    }
    h2 {
        max-width: unset;
    }
    h1 {
        font-size: 30px;
    }
    .pageviews-price-container {
        flex-direction: row;
        margin-top: 1rem;
        width: 100%;
        justify-content: space-around;
    }
    .price {
        font-size: 36px;
    }
    .pageviews-container {
        font-size: 14px;
        font-weight: 800;
    }
    .month {
        font-size: 16px;
    }
    .range-container {
        top: 105px;
    }
    .range {
        width: 500px;
    }
    .range::-moz-range-thumb {
        cursor: pointer;
    }
    .range::-moz-range-thumb:active {
        background-color: #24aea1;
    }
    .monthly-yearly-container {
        margin-top: 6rem;
        gap: 1rem;
    }
    .show-discount {
        display: inline-block;
        margin-left: 3px;
    }
    .discount {
        width: 85px;
    }
    .bonusAndButton-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 2rem 0;
    }
    .bonus-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }
    .image-message {
        justify-content: unset;
        margin-bottom: unset;
    }
    .button button {
        margin-bottom: unset;
    }
    .button button:hover {
        color: var(--White);
        cursor: pointer;
    }
    .range-container {
        width: 500px;
    }
}
